
<%= @book.title %>
<p> by <%= @book.author %></p>
<%= display_complete_check(@book) %>

<%= form_for @book do |f| %>
    <% if !@book.finished && @book.user == current_user %>
        <%= f.label "Mark this book as finished" %>
        <%= f.check_box :finished %>
        <% end %>
    <% end %>

<br>
<%= display_edit(@book) %>
<%= display_create_chapter(@book) %>

<p><%= @book.description %></p>

<%= link_to "Read all chapters", book_chapters_path(@book) %>

<ol><% @book.chapters.each do |chapter| %>
    <li>
    <%= link_to chapter.chapter_title, book_chapter_path(@book,chapter) %>
    </li>
    <% end %>

</ol>

Reviews:
<ul>
    <% @book.reviews.each do |review| %>
    <li>
        <%= review.user_username %> said:
        <%= review.content %><br>
        <%= review.created_at %>
        
        <% if review.user == current_user || @user.admin %>
            <%= form_for(review)do |f| %>
            <%= f.submit "Edit" %>
            <% end %>

            <%= form_for(review, method:"delete")do |f| %>
            <%= f.submit "Delete" %>
            <% end %>
        <% end %>
    </li>
    <% end %>
  </ul>

<br>
<%= form_for @review do |f| %>
    <%= f.hidden_field :book_id %>
    <%= f.hidden_field :user_id, :value => current_user.id if current_user.try(:user) %>
    <%= f.label 'Name:' %>
    <%= f.text_field :user_username %>
    <%= f.label 'Review:' %>
    <%= f.text_area :content %>

    <%= f.submit %>
<% end %>  

