
<%= @book.title %>
<p> by <%= @book.author %></p>
<%= display_complete_check(@book) %>

<% if !@book.finished && @book.user == current_user %>
    <%= form_for @book do |f| %> 
        <%= f.hidden_field :finished, :value => :finished %>
        <%= f.submit "Mark as finished" %>
    <% end %>
<% end %>

<br>
<%= display_edit(@book) %>
</br>
<%= display_create_chapter(@book) %>

<p><%= @book.description %></p>

<%= link_to "Read all chapters", book_chapters_path(@book) %>

<ol><% @book.chapters.each do |chapter| %>
    <li>
    <%= link_to chapter.chapter_title, book_chapter_path(@book,chapter) %>
    </li>
    <% end %>

</ol>

Reviews:
<ul>
    <% @book.reviews.each do |review| %>
    <li>
        <%= review.user.try(:username) || review.user.try(:email) %> said:
        <%= review.content %><br>
        <%= review.created_at %>
        
        <% if review.user == current_user || @user.try(:admin) %>
            <%= form_for(review)do |f| %>
            <%= f.submit "Edit" %>
            <% end %>

            <%= form_for(review, method:"delete")do |f| %>
            <%= f.submit "Delete" %>
            <% end %>
        <% end %>
    </li>
    <% end %>
  </ul>

<br> 
    <% if current_user %>
        Comment as <%= current_user.username || current_user.email %>:
        <%= form_for @review do |f| %>
            <%= f.hidden_field :book_id %>
            <%= f.hidden_field :user_id, :value => @user.id if @user %>
            <%= f.label :comment %>
            <%= f.text_area :content %> 
            <%= f.submit %>
        <% end %>  
    <% end %>     
