
<%= @book.title %>
<p> by <%= @book.author %></p>
<%= display_complete_check(@book) %>

<% if !@book.finished && @book.user == current_user %>
    <%= form_for @book do |f| %> 
        <%= f.hidden_field :finished, :value => :finished %>
        <%= f.submit "Mark as finished" %>
    <% end %>
<% end %>

<br>
<%= display_edit(@book) %>
</br>
<%= display_create_chapter(@book) %>

<p><%= @book.description %></p>

<%= link_to "Read all chapters", book_chapters_path(@book) %>

<ol><% @book.chapters.each do |chapter| %>
    <li>
    <%= link_to chapter.chapter_title, book_chapter_path(@book,chapter) %>
    </li>
    <% end %>

</ol>


<%= link_to "Load Reviews", book_reviews_path(@book), class:"load_reviews", remote: true %>


<div class="reviews">
    <ul>
    </ul>
</div>

Reviews:
<ul>
    <% @book.reviews.each do |review| %>
    <li>
        <%= review.user.try(:username) || review.user.try(:email) %> said:
        <%= review.content %><br>
        <%= review.created_at %>
        
        <% if review.user == current_user || @user.try(:admin) %>
          
            <%= form_for(review, method:"delete")do |f| %>
            <%= f.submit "Delete" %>
            <% end %>
        <% end %>
    </li>
    <% end %>
  </ul>

<br> 
    <% if current_user %>
        Comment as <%= current_user.username || current_user.email %>:
        <%= form_for @review do |f| %>
            <%= f.hidden_field :book_id %>
            <%= f.hidden_field :user_id, :value => @user.id if @user %>
            <%= f.label :comment %>
            <%= f.text_area :content %> 
            <%= f.submit %>
        <% end %>  
    <% end %>     

<div class="bookTitle"><%= @book.title %></div>
<%= @book.author %>
<a href="#" class="js-next" data-id="<%=@book.id%>">Next...</a>
<p class="bookBody"><%= @book.description %></p>

<script type="text/javascript" charset="utf-8">
$(function() {
  $(".js-next").on("click", function(event) {
    event.preventDefault()
    let nextId = parseInt($(".js-next").attr("data-id")) + 1;
    $.getJSON("/books/" + nextId + ".json", function(data) {
      $(".authorName").text(data["author"]);
      $(".bookTitle").text(data["title"]);
      $(".bookBody").text(data["description"]);
    
      $(".js-next").attr("data-id", data["id"]);
    });
  });
});
</script>

