
<%= @book.title %>
<p> by <%= @book.author %></p>
<%= display_edit(@book) %>
<%= display_create_chapter(@book) %>
<br><br>
<%= @book.description %>
<br><br>
<%= link_to "Read all chapters", book_chapters_path(@book) %>

<ol><% @book.chapters.each do |chapter| %>
    <li><%= link_to chapter.chapter_title, book_chapter_path(@book,chapter) %></li>
<% end %>
 
</ol>
